:root {
    --main-bg: #e2e2e2;
    --contrast-bg: #507b00;
    --normal-font: #96c22b;
    --lighter: #A7D930;
}

h1 {
    text-align: center;
    border: thin solid;
    background-color: var(--contrast-bg);
    color: var(--main-bg);
    height: 20%;
    padding:0;
    margin-top:0;
}
* {
    background-color:var(--main-bg);
    font-family: 'Roboto', sans-serif;
    color: var(--normal-font);
    font-size: 120%;
    margin: 0;
    padding: 0;

}
#login_screen
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr ;
    position: absolute;
    height: 100%;
    width: 100%;
}.left {
     background-image: url('imgs/login_screen.jpg');
     background-size: cover;
     text-align: center;
     border:  solid;
     grid-column: 1 ;
 }
.login {
    text-align: center;
    border:  solid;
    grid-column: 2 ;
}
